.site-foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.businessName {
font-size: 6rem;
padding-left: 20vw;
padding-right: 0;
padding-top: 10vw;
padding-bottom: 0;


  /* width: 100vw;
  text-align: center; */
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0
}


.businessDescription {
  font-size: 4rem;

  padding-left: 22vw;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;


  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0
}

.businessActivity {
  font-size: 2rem;

  padding-left: 22vw;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;


  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0
}


@media (max-width: 850px) {
  
  .businessName {
    font-size: 5rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 8rem;
    padding-bottom: 0;

    margin-top: 3rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .businessDescription {
    font-size: 3rem;
    padding-left: 2rem;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;


    margin-top: 3rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0
  }

  .businessActivity {
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 0;
    padding-top: 2rem;
    padding-bottom: 0;


    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0
  }
}
